:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-title-color);
  background-color: #ffffff;
}
li {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
}
.none {
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*блок навигации и контакты*/

.main-nav {
  display: flex;
  align-items: center;
  height: 80px;
}

.site-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.top {
  font-family: 'Roboto', sans-serif;
  color: var(--text-title-color);
  background-color: #ffffff;
}

.header {
  border-bottom: 1px solid #e5e5e5;
}
.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accent {
  color: var(--accent-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.link {
  position: relative;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--text-title-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link.current {
  color: var(--accent-color);
}

.link::after {
  content: '';

  position: absolute;
  display: block;

  left: 0;
  bottom: 0;
  opacity: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current.link::after,
.link:hover::after {
  opacity: 1;
}

.auth-nav {
  display: flex;
  margin-left: auto;
  margin-top: 32px;
  margin-bottom: 32px;
}
.auth-nav .item + .item {
  margin-left: 50px;
}

.mail-tel {
  display: flex;
  align-items: center;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-tel:hover,
.mail-tel:focus {
  color: var(--accent-color);
}

.icon-mail {
  margin-right: 10px;
  background-repeat: no-repeat;
  fill: currentcolor;
}
.icon-tel {
  margin-right: 10px;

  fill: currentcolor;
}

/*главный баннер сайта*/
.main-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

.button {
  display: inline;
  align-items: center;
  padding: 0px;
  border: 0px;
  line-height: 0px;

  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background-color: var(--accent-color);
  letter-spacing: 0.06em;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  min-width: 200px;
  min-height: 50px;

  cursor: pointer;

  border-radius: 4px;
  padding: 10px 32px;
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/bannero.jpg');

  background-color: #2f303a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  padding-top: 200px;
  padding-bottom: 200px;
  left: 0px;
  top: 80px;

  text-align: center;
}

.section {
  margin: 0;
}
.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*блок особенностей,буллеты*/

.bullet {
  padding-top: 94px;
  padding-bottom: 0;
}
.bullets {
  display: flex;
  padding: 0;
}

.bullet-main {
  display: flex;
  padding: 0;
}

.bullet-item:not(:last-child) {
  margin-right: 30px;
}

.icon-bullet {
  width: 270px;
  height: 120px;

  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;

  background-color: #f5f4fa;
  border-radius: 4px;
}

.icon-bullet:not(:first-child) {
  margin-right: 30px;
}

.bullet-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;

  color: var(--text-title-color);
}
.bullet-description {
  margin-top: 0;
  margin-bottom: 0;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;

  color: var(--primary-text-color);
}

/*блок направлений работы + блок герои*/

.direct-main {
  display: flex;
}
.direct,
.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.direct-image {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  line-height: 0;
}

.direct-image:last-child {
  margin-right: 0;
}

.direct-title,
.hero-title,
.client-title {
  margin-top: 0;
  margin-bottom: 50px;
  align-items: center;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  justify-content: center;

  color: var(--text-title-color);
}

.direct-thumb {
  position: relative;
}
.direct-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}

.dir-txt {
  position: absolute;
  margin: 0;
  left: 83px;
  bottom: 27px;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;

  justify-content: center;

  color: #ffffff;
}

/*блок герои*/

.hero-main,
.client-main {
  display: flex;
}
.hero {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.hero-image {
  margin-bottom: 30px;
}

.hero-item:not(:last-child) {
  margin-right: 30px;
}
.hero-item {
  align-content: center;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  /* border: 1px solid #eeeeee;*/
}
.hero-name {
  margin-top: 0;
  margin-bottom: 10px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-title-color);
}
.hero-description {
  margin-top: 0;
  margin-bottom: 0;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.networks {
  display: flex;
  padding-top: 16px;
  padding-bottom: 30px;
  justify-content: center;
}
.hero-network {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: #afb1b8;
  background-color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-network:not(:last-child) {
  margin-right: 10px;
}

.hero-icon-network {
  height: 20px;
  fill: currentColor;
}

.hero-network:hover,
.hero-network:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/*блок клиенты*/
.client-main {
  display: flex;
}
.client-list {
  display: flex;
  width: 170px;
  height: 90px;
}

.client-list:not(:last-child) {
  margin-right: 30px;
}

.button-client {
  display: flex;
  width: 170px;
  height: 90px;
  align-items: center;
  justify-content: center;
  padding: 0px;
  border: 0px;
  line-height: 0px;

  color: #afb1b8;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-client:hover,
.button-client:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.icon-client {
  display: flex;
}

.icon-client {
  fill: currentColor;
}

/*подвал сайта*/

.footer {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}
.footer-net {
  display: flex;
}
.logo-footer {
  margin-bottom: 20px;
}
.logo-footer-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address {
  margin-top: 0;
  margin-bottom: 9px;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.contact {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.mail {
  margin-bottom: 6px;
}

.footer-info {
  display: flex;
}
.footer-net {
  display: flex;
}
.footer-networks {
  width: 300px;
  margin-left: 70px;
}
.footer-network {
  display: inline-flex;

  align-items: center;
  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot:not(:last-child) {
  margin-right: 10px;
}

.footer-network:hover,
.footer-network:focus {
  background-color: var(--accent-color);
}

.footer-link {
  width: 219px;
  height: 16px;
  margin-bottom: 20px;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.fotter-contact {
  margin-top: 20px;
}

.foot-icon-network {
  height: 20px;
  align-items: center;

  fill: #ffffff;
}

.footer-form {
  /*position: absolute;
  top: 72px;
  right: 215px;*/
}

.foot-form {
  align-items: center;
}
.button-foot {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 29px;
  border: 0px;

  min-width: 200px;
  min-height: 50px;

  border-radius: 4px;

  cursor: pointer;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  min-width: 200px;
  min-height: 50px;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.foot-icon-send {
  margin-left: 10px;

  fill: #ffffff;
}

.foot-input {
  display: inline-flex;
  align-items: center;
  line-height: 0;
}

.foot-input input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  background-color: #2f303a;
}

.foot-input input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

/*скрытый заголовок*/
.hide {
  visibility: hidden;
  line-height: 0;
  margin: 0;
}
/*основная часть страницы "портфолио"*/

/*кнопки-фильтры*/
.button-list {
  display: flex;
  justify-content: center;
}

.buttons {
  margin-bottom: 50px;
}
.filter {
  display: inline-block;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  letter-spacing: 0.03em;

  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter:hover,
.filter:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

/*панель проектов*/

.project-title {
  margin-top: 0;
  margin-bottom: 4px;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: #212121;
}
.project-description {
  margin-top: 0;
  margin-bottom: 0;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.project-item {
  padding: 20px 24px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
}
.project-items {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}
.project-items:nth-child(3n) {
  margin-right: 0;
}

.project-items:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover,
.project-card:focus {
  display: block;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-image {
  width: 100%;
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-over {
  position: absolute;

  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover .project-over,
.project-card:focus .project-over {
  transform: translateY(0);
}

.pro-txt {
  position: absolute;
  margin: 0;
  left: 24px;
  right: 24px;
  bottom: 63px;
  justify-content: center;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: #ffffff;
}

/*модальное окно*/

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(1.1) translate(-50%, -50%);
}

.modal {
  position: absolute;

  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;

  background-color: #ffffff;

  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;

  padding: 0px;
  border: 0px;
  line-height: 0px;

  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  fill: currentColor;
}
.close:hover {
  color: var(--accent-color);
}

.modal-title {
  position: absolute;
  margin: 0;
  width: 448px;
  height: 23px;
  top: 40px;
  left: 40px;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}


.button-mod {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  margin-top: 20px;
}

.button-modal {
  border: 0px;
  border-radius: 4px;
  padding: 10px 55px;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  min-width: 200px;
  min-height: 50px;
  letter-spacing: 0.06em;

  cursor: pointer;

  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
textarea {
  resize: none;
  padding: 12px 16px;
  margin-bottom: 0;
}

.form {
  width: 448px;
  height: 342px;
  padding-top: 75px;
  margin-left: auto;
  margin-right: auto;
}

.form-input {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input input {
  width: 448px;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input input:hover,
.form-input input:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.form-input:hover,
.form-input:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.input-txt {
  padding-left: 35px;
  color: var(--primary-text-color);
}

.icon-form {
  position: absolute;
  bottom: 11px;
  left: 12px;

  fill: currentColor;
  /*width: 17px;
  height: 17px;*/
}

.form-input label {
  margin-bottom: 4px;
}

.form-input:focus-within > .icon-form {
  fill: var(--accent-color);
}

.form-input textarea {
  width: 448px;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input textarea::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-input textarea:hover,
.form-input textarea:focus {
  border-color: var(--accent-color);
}

.form-check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  line-height: ;
}

.label {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.label-check {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;

  align-items: center;

  color: var(--primary-text-color);
}

.label-check-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;

  text-decoration: underline;
  color: var(--accent-color);
}


.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*.check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
 align-items: center;
  border: 2px solid #777777;
  border-radius: 2px;
  cursor: pointer;
  fill: currentColor;
}*/

.label-checkbox {
  display: inline-block;
  align-items: center;
  justify-content: center;
  line-height: 0;
  
}

.label-checkbox::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;

  border: 2px solid #212121;
  border-radius: 2px;

  cursor: pointer;
  
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.checkbox:checked ~ .label-checkbox::before {
  background-image: url("../images/checkbox-on.svg");
  background-color: var(--accent-color);
  border-color: transparent;
  background-size: contain;
  background-origin: border-box;
}

/*.checkbox:checked ~ .check-icon {
  background-color: var(--accent-color);
  border-color: transparent;
  background-size: contain;
  background-origin: border-box;
}/
